.media{
background-image: url(../images/backgrounds/landing.jpg);
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 70px;
text-align:center;
color:  white;
}
.media2{
padding: 0;
height: 300px;
width:100%;
background-image: url(../images/backgrounds/foodsBg.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;

}
.media3{
padding: 0;
height: 200px;
width:100%;
background-image: url(../images/backgrounds/subscribe.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
text-align: center;
color: white;

.logo{
margin-top: 8%;
text-align: center;

.party{
  background-image: url(../images/backgrounds/foodsBg.jpg);
}
.mail{
text-align: center;
margin-top: 3%;
color: #ffffff;
  background-image: url(../images/backgrounds/subscribe.jpg);
}
.customers{
padding: 10%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: white;
}
.mail{
text-align: center;
height: 200px;
width: 80%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;
background-color: transparent;

.social{
padding: 0;
height: 300px;
width:100%;
background-color:orange;
}

.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:#ffffff;
font-size:28px;
font-weight: 500;
padding:6px 50px;
text-decoration:none;
border-radius: 5px;
}
